body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(40, 40, 40);
    height: 100vh;
}

#parent {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 350px;
    background-color: black;
    border: inset 5px;
    border-color: #00ffffa3;
    border-radius: 20px;
    font-family: sans-serif;
}

#head {
    display: flex;
    height: 50px;
    justify-content: end;
    margin-right: 20px;
    align-items: center;
    gap: 2px;
    padding-top: 8px;
}

#head a {
    text-decoration: none;
}

#head a button {
    border-radius: 100%;
    border: none;
    height: 40px;
    aspect-ratio: 1/1;
    background-color: transparent;
    color: rgb(240, 240, 240);
    font-size: large;
}

#head .left1 {
    margin-right: auto;
    margin-left: 20px;
}

#display {
    display: flex;
    flex-wrap: wrap;
    height: 150px;
    background-color: black;
    justify-content: end;
    align-items: center;
    margin-right: 20px;
    color: rgb(240, 240, 240);
    font-size: 40px;
    font-weight: bold;
}

#container {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding-bottom: 6px;
}

#container div {
    display: flex;
    background-color: black;
    box-sizing: border-box;
    justify-content: center;
    align-items: center ;
    border-radius: 20px;
}

#container div button {
    height: 68px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    border: none;
    background-color: rgb(39, 40, 39);
    font-size: 30px;
    color: rgb(240, 240, 240);
    font-weight: bold;
    text-align: center;
}

#container #press1, 
#container #press2,
#container #press3 {
    background-color: rgb(25, 26, 25);
    font-size: 20px;
}

#container #press4,
#container #press8,
#container #press12,
#container #press16 {
    font-size: 38px;
    font-weight: normal;
    background-color: rgb(25, 26, 25);
}

#container #press20 {
    font-size: 40px;
    font-weight: normal;
    background-color: rgb(255, 70, 0);
}